@import url('./Styles/Components.css');
@import url('./Styles/Pages.css');

/* Colors
#ffd508
#00FF48
#1e0d00
#FF7400
#213918
#ff041c
*/

.App {
  text-align: center;
  width: 100%;
  margin: 0, auto;
  display: flex;
  flex-direction: column;
  font-family: 'Martel', serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Content {
  display: block;
  height: 100vh;
  overflow-y: hidden;
}


/* Typography ------------------------------------- */
.brand-font {
  font-family: 'Bangers';
  color: #1e0d00;
  -webkit-text-stroke: 1px #ff041c;
}

/* Nav -------------------------------------------- */
.nav ul {
  list-style: none;
  background: #ff041C;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  font-weight: 600;
  display: inline-block;
  margin-right: 40px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-image;
  border-radius: 5px;

}

.nav a:hover {
  box-shadow: inset 0px 0px 0px .1rem #1e0d00;
  background-image: linear-gradient(155deg, #ffd508, #FF7400);
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
}

/* Auth Form --------------------------------------- */
.Auth {
  height: 45vh;
  padding: 10px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Auth .auth-form-left .loginSignup {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
}
.Auth .auth-form-right .loginSignup {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
}
.loginSignup{
  display: flex;
  flex-direction: row;
  position: absolute;
}

.Auth .auth-form {
  display: grid;
  flex-direction: column;
  padding: 5px 10px;
  height: 93%;
}

.Auth h3 {
  margin: 0 0 5px;
}

.Auth .form-control input {
  font-size: 1rem;
  width: 250px;
  height: 30px;
  margin: 0 auto 10px;
  padding: 5px 10px;
  border: 0;
  border-bottom: 2px solid #333333;
  text-align: left;
}

.Auth .form-actions {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 37%;
  margin: 7px auto 0;
}
.Auth .form-actions small {
  margin: 8px;
}

.Auth .form-actions button {
  width: 7%;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.Auth .submit-btn {
  font-size: 1rem;
  font-weight: 600;
  border: 0;
  border-radius: 5px;
  border: .1rem #1e0d00 solid;
  background-image: linear-gradient(155deg, #ffd508, #FF7400);
  color: #1e0d00;
  letter-spacing: 1px;
  padding: 12px 0;
}
