@import url('./Styles/Components.css');
@import url('./Styles/Pages.css');

/* Colors
#ffd508
#00FF48
#1e0d00
#FF7400
#213918
#ff041c
*/

.App {
  text-align: center;
  /* max-width: 1920px; */
  width: 100%;
  margin: 0, auto;

  display: flex;
  flex-direction: column;

  font-family: 'Martel', serif;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Content {
  display: block;
  height: 100vh;
  overflow-y: hidden;
}


/* Typography ------------------------------------- */
.brand-font {
  font-family: 'Bangers';
  color: #1e0d00;
  -webkit-text-stroke: 1px #ff041c;
}
